@import '../variabls';

.header {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: box-shadow .3s background .4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  @include flex-starter;
  justify-content: space-between;
}

.nav__logo,
.nav__toggle,
.nav__close {
  display: flex;
  color: var(--title-color);
}

@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }